@font-face {
  font-family: "calculator";
  src: url("../digital-7-font/Digital7Monoitalic-8xKz.ttf");
}

#root {
  height: 100vh;
  display: flex;
  row-gap: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: rgb(0, 199, 236);
  background: linear-gradient(196deg, rgb(105 187 246) 23%, #5e73e2 45%, rgb(100 218 244) 91%);
  background-size: 250%;
  animation: move 8s alternate infinite linear;
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

h1 {
  font-family: "calculator";
  color: #0b2bdd;
  font-size: 2.7vw;
  margin-top: -1.5rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
}
